@model FortyTwoClient.Models.AdminModel
@using FortyTwoLib

@{
	ViewBag.Title = "Admin Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var grid = new WebGrid(source: Model.GetTables(int.MaxValue), defaultSort: "GameStartTime", rowsPerPage: 15, canPage: true, canSort: true);
	if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
	{
		grid.SortDirection = SortDirection.Ascending;
	}
}

<h2>Admin Home</h2>

<div>
@grid.GetHtml(tableStyle: "grid", alternatingRowStyle: "grid-alt", rowStyle: "grid-row", displayHeader: true, headerStyle: "grid-head", footerStyle: "grid-foot", 
	columns: grid.Columns(
			grid.Column("TableId", "Id"),
			grid.Column("TableDbId", "DbId"),
			grid.Column("Name", "Name"),
			grid.Column("PlayerNames", "Players"),
			grid.Column("CurrentState", "State"),
			grid.Column("LastStateChange", "Last Activity", (item) => item.LastStateChange == null ? "" : string.Format("{0:MM/dd/yy HH:mm}", item.LastStateChange)),
			grid.Column("WhoseTurn", "Whose Turn", style: "grid-numeric-column"),
			grid.Column("Team0Marks", "Team 0", style: "grid-numeric-column"),
			grid.Column("Team1Marks", "Team 1", style: "grid-numeric-column"),
			grid.Column("GameStartTime", "Start", (item) => item.GameStartTime == null ? "" : string.Format("{0:MM/dd/yy HH:mm}", item.GameStartTime)),
			grid.Column("GameEndTime", "End", (item) => item.GameEndTime == null ? "" : string.Format("{0:MM/dd/yy HH:mm}", item.GameEndTime))
			)
	)

</div>
