@model FortyTwoClient.Models.ResetModel

@{
    ViewBag.Title = "ResetSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Reset</h2>

Your game was reset.  If you continue to have problems, please use 
the about link to send the site administrator an email describing your 
problem.

Sorry for the inconvenience.