<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="System.Configuration.SingleTagSectionHandler"/>
	</configSections>
	<dataConfiguration defaultDatabase="ApplicationServices"/>
	<connectionStrings>
		<add name="ApplicationServicesDev" connectionString="data source=localhost;Initial Catalog=FortyTwo;uid=fortytwodbaccess;pwd=titleist998" providerName="System.Data.SqlClient"/>
		<add name="ApplicationServices" connectionString="Data Source=tcp:sql2k804.discountasp.net;Initial Catalog=SQL2008R2_795461_fortytwo;User ID=SQL2008R2_795461_fortytwo_user;Password=harpie99;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
