@{
    ViewBag.Title = "Home Page";
}

<p>
Welcome to 42 Now, the <b>only</b> site where you can play forty-two dominoes online from your browser.
</p>
<p>
42 is like a card game using dominoes with the twist that a domino can be two suits at once.  
This is what makes 42 such a challenging and entertaining game.  One of the great things about this site
is that you can learn how to play without spending a lot of time reading the rules because you can play 
against "bots" (computer controlled players) and the game won't let you make an incorrect bid or play.
In fact, you can click on the "suggest" link and it will recommend the best bid or play for you.
</p>

<p>
If you already know how to @Html.ActionLink("play", "", "Game"), jump into a game by clicking "Play" in the menu.
<b>No downloads</b> or plugins are required so you can play 42 dominoes online right now.
</p>

<p>
<b>No registration is required</b> to play.  If you want to see your name instead of "You" on the table or you'd like to try 
and make the "Top Players" list, then go ahead and @Html.ActionLink("register", "Register", "Account").  
It only takes a few seconds and we will <b>not</b> send you any emails or release your information to anyone.
</p>

<h3>Rules</h3>
Refer to one of the following external sites for a detailed explanation of the rules and strategy:
<ul>
	<li><a href="http://texas42.net/42home.html" target="_blank">Texas 42</a> </li>
	<li><a href="http://www.domino-games.net/texas-42.html" target="_blank">Domino-games.net</a> </li>
	<li><a href="http://en.wikipedia.org/wiki/42_(dominoes)" target="_blank">Wikipedia</a> </li>
	<li><a href="http://www.pagat.com/pointtrk/42.html" target="_blank">pagat.com</a> </li>
</ul>
