<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FortyTwoAccess.Properties.Settings.FortyTwoConnectionString"
            connectionString="Data Source=OPINCARHOME;Initial Catalog=FortyTwo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>